@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

footer{
	background-color: black;
	color: white;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

@media (min-width: 576px){
	.card-columns {
    	column-count: 2;
	}
}

@media (min-width: 768px){
	.card-columns {
    	column-count: 3;
	}
}