@charset "utf-8";
/* CSS Document */ 

/* Simone Tugnetti */


/*  Default  */

*, *:before, *:after{
	box-sizing: border-box;
}

body{
	font-family: 'Hind', sans-serif;
}

a{
	text-decoration: none;
	color:rgba(0,0,0,1.00);
}

.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.d-flex{
	display: flex;
}

.beige{
	background-color: rgba(243,243,243,1.00);
}

.justify-center{
	justify-content: center;
}

.items-center{
	align-items: center;
}

.top-100{
	margin-top: 100px;
}

.bottom-100{
	margin-bottom: 100px;
}

.top-20{
	margin-top: 20px;
}

.top-50{
	margin-top: 50px;
}

.divisore{
	width: 240px;
	height: 40px;
}

.row{
	flex-direction: row;
}

.column{
	flex-direction: column;
}

.between{
	justify-content: space-between;
}

h2{
	font-size: 25px;
}

h3{
	font-size: 20px;
}

p{
	font-size: 15px;
}

.font-small{
	font-size: small;
}

.wrap{
	flex-wrap: wrap;
}

.bold{
	font-weight: bold;
}

.sliderIMG, .certificatiIMG, .newsIMG{
	width: 100%;
	height: 100%;
}




/*  Header  */

.logo{
	width: 100%;
	height: 25vh;
}

.logoIMG{
	width: 250px;
	height: 80px;
}

.menu{
	width: 100%;
	height: 60px;
}

.menu ul{
	width: 960px;
	height: 60px;
}

.menu ul li{
	border: 1px solid rgba(200,200,200,1.00);
	width: 12.5%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.menu ul li a{
	display: block;
	width: 100%;
}

.active{
	color: rgba(0,0,255,1.00);
}




/*  Slider  */

.slider{
	width: 33.333%;
	height: 65vh;
}




/*  Intro  */

h1{
	font-size: 40px;
}

.section-intro{
	width: 23%;
	height: auto;
	color: rgba(255,255,255,1.00);
}

.equipe{
	background-color: rgba(104,183,212,1.00);
}

.attivita{
	background-color: rgba(239,102,120,1.00);
}

.risultatiBC{
	background-color: rgba(84,207,194,1.00);
}

.struttura{
	background-color: rgba(245,174,86,1.00);
}

.margin-25{
	margin: 25px;
}

.align-center{
	text-align: center;
}

.link-blue{
	color: rgba(0,0,255,1.00);
}




/*  Attività  */

.section-attivita, .section-diagnosi{
	width: 50%;
	height: auto;
	padding: 75px;
}

.testIMG{
	background-image: url(../img/testIMG.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.incubatoreIMG{
	background-image: url(../img/incubazioneIMG.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.diagnosiIMG{
	background-image: url(../img/diagnosiIMG.png);
	background-repeat: no-repeat;
	background-size: cover;
}




/*  Certificati  */

.certificati{
	width: 30%;
	height: 200px;
}

.height-350{
	height: 350px;
}




/*  Risultati  */

.white{
	color: rgba(255,255,255,1.00);
}

.risultati{
	width: 30%;
	height: 50vh;
}

.grafico{
	width: 100%;
	height: 30vh;
	border-radius: 50%;
}

.grafico-CMR{
	border: 10px solid rgba(15,122,210,1.00);
	color: rgba(15,122,210,1.00);
}

.grafico-europa{
	border: 10px solid rgba(82,206,193,1.00);
	color: rgba(82,206,193,1.00);
}

.grafico-italia{
	border: 10px solid rgba(238,100,119,1.00);
	color: rgba(238,100,119,1.00);
}

.text-50{
	font-size: 50px;
}

.bambino{
	background-image: url(../img/bgRisultati.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}




/*  Tabelle  */

.radius-top-left-10{
	border-top-left-radius: 10px;
}

.radius-top-right-10{
	border-top-right-radius: 10px;
}

.radius-bottom-left-10{
	border-bottom-left-radius: 10px;
}

.radius-bottom-right-10{
	border-bottom-right-radius: 10px;
}

.border-bottom{
	border-bottom: 1px solid rgba(150,150,150,1.00);
}

.tabelle{
	width: 100%;
	height: auto;
}

.table-rows-blue{
	background-color: rgba(234,243,243,1.00);
}

table{
	border-radius: 50px;
}

table, tr, th, td{
	border: 1px solid rgba(255,255,255,1.00);
}

td{
	color: rgba(70,100,107,1.00);
}

th, td{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.table-title{
	background-color: rgba(16,124,211,1.00);
	color: rgba(255,255,255,1.00);
}




/*  News  */

.news{
	width: 30%;
	height: auto;
	border: 1px solid rgba(200,200,200,1.00)
}

.newsIMGC{
	width:100%;
	height: 25vh;
}

.bottom-10{
	margin-bottom: 10px;
}




/*  Footer  */

footer{
	background-color: rgba(28,44,56,1.00);
}

h4{
	color: rgba(255,255,255,1.00);
}

.alt-100{
	height: 100px;
}

.fb-color{
	color: rgba(103,127,181,1.00);
}

.mail-color{
	color: rgba(250,170,94,1.00);
}

i{
	font-size: 30px;
}

.left-20{
	margin-left: 20px;
}




/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px){
	
	.menu, .secondaS, .terzaS, .attIMG, .elimCert, .secondaN, .terzaN{
		display: none;
	}
	
	.container{
		width: 320px;
	}
	
	.wrap{
		flex-wrap: wrap;
	}
	
	.section-intro{
		width: 100%;
		margin-top: 5%;
	}
	
	.section-attivita, .section-diagnosi, .news, .slider{
		width: 100%;
	}
	
	.certificati{
		width: 100%;
		margin-top: 20px;
	}
	
	.risultati{
		width: 100%;
		margin-top: 80px;
	}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	
	.menu, .secondaS, .terzaS, .attIMG, .elimCert, .secondaN, .terzaN{
		display: none;
	}
	
	.container{
		width: 320px;
	}
	
	.wrap{
		flex-wrap: wrap;
	}
	
	.section-intro{
		width: 100%;
		margin-top: 5%;
	}
	
	.section-attivita, .section-diagnosi, .news, .slider{
		width: 100%;
	}
	
	.certificati{
		width: 100%;
		margin-top: 20px;
	}
	
	.risultati{
		width: 100%;
		margin-top: 80px;
	}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	
	.menu, .secondaS, .elimCert, .secondaN{
		display: flex;
	}
	
	.container{
		width: 740px;
	}
	
	.slider{
		width: 50%;
	}
	
	.section-intro, .news{
		width: 47.5%;
	}
	
	.certificati{
		width: 30%;
	}
	
	.risultati{
		width: 30%;
		margin-top: 0px;
	}
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	
	.container{
		width: 960px;
	}
	
	.terzaS, .attIMG, .terzaN{
		display: flex;
	}
	
	.section-intro{
		width: 23%;
	}
	
	.section-attivita, .section-diagnosi{
		width: 50%;
	}
	
	.news{
		width: 30%;
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.container{
		width: 1024px;
	}
}
