@charset "utf-8";
/* CSS Document */ 

/* Simone Tugnetti */

/*  Default  */

*, *:before, *:after{
	box-sizing: border-box;
}

body{
	font-family: 'Hind', sans-serif;
}

a{
	text-decoration: none;
	color:rgba(0,0,0,1.00);
}

.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.container-fluid{
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.d-flex{
	display: flex;
}

.beige{
	background-color: rgba(243,243,243,1.00);
}

.justify-center{
	justify-content: center;
}

.items-center{
	align-items: center;
}

.top-100{
	margin-top: 100px;
}

.bottom-100{
	margin-bottom: 100px;
}

.top-20{
	margin-top: 20px;
}

.top-50{
	margin-top: 50px;
}

.divisore{
	width: 240px;
	height: 40px;
}

.row{
	flex-direction: row;
}

.column{
	flex-direction: column;
}

.between{
	justify-content: space-between;
}

h2{
	font-size: 25px;
}

h3{
	font-size: 20px;
}

p{
	font-size: 15px;
}

.font-small{
	font-size: small;
}

.wrap{
	flex-wrap: wrap;
}

.rosso{
	background-color: rgba(255,0,0,1.00);
}

.giallo{
	background-color: rgba(255,255,0,1.00);
}

.verde{
	background-color: rgba(0,255,0,1.00);
}

.blu{
	background-color: rgba(0,0,255,1.00);
}

.bold{
	font-weight: bold;
}


/*  Header  */

.logo{
	width: 100%;
	height: 25vh;
}

.logoIMG{
	width: 250px;
	height: 80px;
}

.menu{
	width: 100%;
	height: 60px;
}

.menu ul{
	width: 960px;
	height: 60px;
}

.menu ul li{
	border: 1px solid rgba(200,200,200,1.00);
	width: 12.5%;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.menu ul li a{
	display: block;
	width: 100%;
}

.active{
	color: rgba(0,0,255,1.00);
}


/*  Slider  */

.slider{
	width: 33.333%;
	height: 65vh;
}


/*  Intro  */

h1{
	font-size: 45px;
}

.section-intro{
	width: 23%;
	height: 350px;
}


/*  Attività  */

.section-attivita{
	width: 50%;
	height: auto;
	padding: 0 75px;
}


/*  Certificati  */

.certificati{
	width: 30%;
	height: 200px;
}

.height-auto{
	height: auto;
}


/*  Risultati  */

.white{
	color: rgba(255,255,255,1.00);
}

.risultati{
	width: 30%;
	height: auto;
}

.grafico{
	width: 100%;
	height: 50vh;
}

.grigio{
	background-color: rgba(100,100,100,1.00);
}


/*  Tabelle  */

.border-bottom{
	border-bottom: 1px solid rgba(150,150,150,1.00);
}

.tabelle{
	width: 100%;
	height: auto;
}

.table-rows-blue{
	background-color: rgba(234,243,243,1.00);
}

table{
	border-radius: 50px;
}

table, tr, th, td{
	border: 1px solid rgba(255,255,255,1.00);
}

td{
	color: rgba(145,176,183,1.00);
}

th, td{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.table-title{
	background-color: rgba(16,124,211,1.00);
	color: rgba(255,255,255,1.00);
}


/*  News  */

.news{
	width: 30%;
	height: auto;
	border: 1px solid rgba(200,200,200,1.00)
}

.newsIMG{
	width:100%;
	height: 25vh;
}

.bottom-10{
	margin-bottom: 10px;
}


/*  Footer  */

footer{
	background-color: rgba(28,44,56,1.00);
}

h4{
	color: rgba(255,255,255,1.00);
}

.alt-100{
	height: 100px;
}

.socialIMG{
	width: 25px;
	height: 25px;
}




/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px){
	
	.menu{
		display: none;
	}
	
	.container{
		width: 320px;
	}
	
	.secondaS{
		display: none;
	}
	
	.terzaS{
		display: none;
	}
	
	.slider{
		width: 100%;
	}
	
	.wrap{
		flex-wrap: wrap;
	}
	
	.section-intro{
		width: 100%;
		margin-top: 5%;
	}
	
	.attIMG{
		display: none;
	}
	
	.section-attivita{
		width: 100%;
		height: auto;
	}
	
	.width{
		width: 320px;
	}
	
	.certificati{
		width: 100%;
		margin-top: 20px;
	}
	
	.elimCert{
		display: none;
	}
	
	.risultati{
		width: 100%;
		margin-top: 80px;
	}
	
	.news{
		width: 100%;
	}
	
	.secondaN{
		display: none;
	}
	
	.terzaN{
		display: none;
	}
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	
	.menu{
		display: none;
	}
	
	.container{
		width: 480px;
	}
	
	.secondaS{
		display: none;
	}
	
	.terzaS{
		display: none;
	}
	
	.slider{
		width: 100%;
	}
	
	.wrap{
		flex-wrap: wrap;
	}
	
	.section-intro{
		width: 100%;
		margin-top: 5%;
	}
	
	.attIMG{
		display: none;
	}
	
	.section-attivita{
		width: 100%;
	}
	
	.width{
		width: 480px;
	}
	
	.certificati{
		width: 100%;
		margin-top: 20px;
	}
	
	.elimCert{
		display: none;
	}
	
	.risultati{
		width: 100%;
		margin-top: 80px;
	}
	
	.news{
		width: 100%;
	}
	
	.secondaN{
		display: none;
	}
	
	.terzaN{
		display: none;
	}
	
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.menu{
		display: flex;
	}
	
	.container{
		width: 740px;
	}
	
	.secondaS{
		display: flex;
	}
	
	.slider{
		width: 50%;
	}
	
	.section-intro{
		width: 47.5%;
	}
	
	.width{
		width: 740px;
	}
	
	.certificati{
		width: 30%;
	}
	
	.elimCert{
		display: flex;
	}
	
	.risultati{
		width: 30%;
		margin-top: 0px;
	}
	
	.news{
		width: 47.5%;
	}
	
	.secondaN{
		display: flex;
	}
	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	.container{
		width: 960px;
	}
	
	.terzaS{
		display: flex;
	}
	
	.section-intro{
		width: 23%;
	}
	
	.section-attivita{
		width: 50%;
		height: 100vh;
	}
	
	.attIMG{
		display: flex;
	}
	
	.width{
		width: 100%;
	}
	
	.news{
		width: 30%;
	}
	
	.terzaN{
		display: flex;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.container{
		width: 1024px;
	}
}
