@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{box-sizing: border-box;}
.full-heigth{
	width: 100%;
	height: 100vh;
	background-image: url(../img/cuba.jpg);
	background-position: center;
	background-size: cover;
}
.titolo{
	background-color: rgba(0,0,0,1.00);
	width: 100%;
	height: 100vh;
	opacity: .15;
}
.titolo h1{
	color: rgba(255,255,255,1.00);
	text-align: center;
	line-height: 100vh;
	font-size: 8vh;
	font-style: italic;
}
.menu{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,1.00);
	margin-bottom: 30px;
}

.menu ul{
	width: 960px;
	height: 50px;
	background-color: rgba(255,255,255,1.00);
	margin: 0 auto;
}

.menu ul li{
	width: 25%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: rgba(203,133,134,1.00);
	float: left;
}

.menu ul li a{
	width: 100%;
	display: block;
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	background-color: rgba(203,133,134,1.00);
	font-size: 22px;
}

.menu a:hover, .menu .active{
	background-color: rgba(155,155,155,1.00);
	color: rgba(255,214,0,1.00);
}

.footer p{
	color: rgba(255,0,0,1.00);
	text-align: center;
	line-height: 200px;
	font-size: 100px;
}

.footer{
	width: 100%;
	height: 200px;
	background-color: rgba(18,255,0,1.00);
}

body{ background-color: rgba(224,224,224,1.00);}
hgroup{text-align: center;}
h1{color:rgba(255,0,4,1.00);}
h2, h3{text-decoration: underline;}
/* img{display: block;} --> Per tutte le immagini */
.img-fluid{width: 100%; height: 100%; display: block;}
.pepe{width: 300px; height: 250px;}

.maiuscolo{text-transform: uppercase;}

.Corpo {
	width: 960px;
	height: auto;
	background-color: #626AF9;
	margin: 0 auto 20px;
	padding: 15px;
}
.Corpo p{
	color: #FFFFFF;
	text-align: center;
}
.immag {
	width: 33%;
	height: auto;
	background-color: #FF0004;
	float: left;
	padding: 20px;
}

.altfix{
	height: 267px;
}

.immag p{
	color: #FFFFFF;
	float: left;
}

.clearfix{
	clear: both;
}

.cantante{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,0,0,1.00);
}

.spazio {
	margin-bottom: 30px;
}

.mt-30{
	margin-top: 30px;
}

video{
	width: 100%;
}

/* Wrap responsive */
.googlemap_wrap  {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
/* iframe posizionato in maniera assoluta */
.googlemap_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

a{
	text-decoration: none;
}





