@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

a, a:hover{
	color: inherit;
	text-decoration: none;
}

body{
	background-color: rgba(145,145,145,1.00);
	font-family: 'Lato', sans-serif;
}

html{
	scroll-behavior: smooth;
}


/* Navbar */

.nav-desktop{
	height: 50px;
	display: none;
}


/* Intro */

h1{
	font-size: 50px;
	font-weight: bold;
}

.intro{
	background-image: url(../img/intro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 50vh;
}


/* Description */

.description{
	min-height: 45vh;
}

.title-description, .img-description{
	display: none;
}


/* Video */

.s-video{
	min-height: 25vh;
}

video{
	width: 100%;
	height: 100%;
}


/* Players */

.players{
	min-height: 100vh;
}

.img-play{
	width: 100%;
	height: 33vh;
}

.desc-play{
	background-color: rgba(255,255,255,1.00);
	width: 100%;
	height: 15vh;
	margin: -30px 30px 30px;
}

.zanotti{
	background-image: url(../img/zanotti.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.biffi{
	background-image: url(../img/biffi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.buttafuoco{
	background-image: url(../img/buttafuoco.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.play-1{
	order: 1;
}

.play-2{
	order: 2;
}

.play-3{
	order: 3;
}

.play-4{
	order: 4;
}

.play-5{
	order: 5;
}

.play-6{
	order: 6;
}


/* Discography */

.discography{
	min-height: 66.666vh;
}

.album{
	width: 100%;
	height: auto;
}

.hype{
	background-image: url(../img/disco-2.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.aldila{
	background-image: url(../img/disco-1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.img-disco{
	width: 100%;
	height: 35vh;
}

.desc-disco{
	width: 100%;
	min-height: 10vh;
}

.p-disco{
	display: none;
}


/* Newsletter */

.newsletter{
	background-color: rgba(0,0,0,1.00);
	min-height: 33.333vh;
}


/* News */

.news{
	min-height: 60vh;
}

.img-news-1{
	background-image: url(../img/news-1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh;
	position: relative;
}

.img-news-2{
	background-image: url(../img/news-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: relative;
}

.img-news-3{
	background-image: url(../img/news-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: relative;
}

.bg-news{
	background-color: rgba(255,255,255,0.50);
}

.btm-0{
	position: absolute;
	bottom: 0;
	margin-bottom: 0px;
}


/* Events */

.events{
	min-height: 40vh;
}

.desc-events{
	background-color: rgba(255,255,255,1.00);
	width: 100%;
	height: 40vh;
	margin-bottom: 2vh;
}

.img-events{
	width: 50%;
	height: 40vh;
	display: none;
	margin-bottom: 0;
}

.title-events{
	text-align: right;
	font-size: 30px;
}

.data-events{
	font-size: 40px;
}


/* Footer */

footer{
	background-color: rgba(0,0,0,1.00);
	height: 80px;
}


@media screen and (min-width: 960px){
	
	.nav-mobile, .data-events{
		display: none;
	}
	
	.nav-desktop, .title-description, .p-disco, .img-events{
		display: block;
	}
	
	img{
		width: 100%;
		height: 100%;
	}
	
	/* Navbar */
	
	i{
		color: rgba(0,0,255,1.00);
		font-size: 25px;
	}
	
	.grid-nav{
		display: grid;
		height: 200%;
		grid-template-columns: 2fr 1fr 2fr;
		grid-template-rows: repeat(2,1fr);
		grid-template-areas: 
			"social logo numberEmail"
			"firstOption logo secondOption";
	}
	
	.social{
		grid-area: social;
	}
	
	.logo{
		grid-area: logo;
	}
	
	.logoFigure{
		width: 100%;
		height: 100%;
		margin: 0;
	}
	
	.numberEmail{
		grid-area: numberEmail;
	}
	
	.firstOption{
		grid-area: firstOption;
	}
	
	.secondOption{
		grid-area: secondOption;
	}
	
	
	/* Main */
	
	.grid-main{
		display: grid;
		height: auto;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: repeat(7,auto);
	}
	
	.description{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
		background-color: rgba(255,255,255,1.00);
	}
	
	.s-video{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		z-index: 1;
	}
	
	.bg-video{
		background-color: rgba(85,85,85,1.00);
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		z-index: 0;
	}

	.players{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		background-image: linear-gradient(brown,black);
	}

	.discography{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 5;
		background-color: rgba(255,255,255,1.00);
	}
	
	.newsletter{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 5;
		grid-row-end: 6;
		margin-top: 0!important;
		margin-bottom: 0!important;
	}

	.news{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 6;
		grid-row-end: 7;
		background-color: rgba(206,188,164,1.00);
	}

	.events{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 7;
		grid-row-end: 8;
		z-index: 1;
		padding-right: 0;
		padding-left: 0;
	}
	
	.bg-events{
		background-color: rgba(0,0,0,1.00);
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 7;
		grid-row-end: 8;
	}
	
	
	/*  Intro  */
	
	.intro{
		height: calc(100vh - 50px);
	}
	
	
	/*  Description  */
	
	.img-description{
		display: block;
		float: right;
		width: 250px;
		height: 250px;
		background-image: url(../img/description.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	
	.clearfix{
		content: "";
  		clear: both;
  		display: table;
	}
	
	
	/*  Players  */
	
	.img-play{
		width: 50%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.desc-play{
		width: 50%;
		margin: 0 0 0 -30px;
	}
	
	.play-3{
		order: 4;
	}
	
	.play-4{
		order: 3;
		margin: 0 -30px 0 0;
		z-index: 1;
	}
	
	.h2-play{
		color: rgba(255,255,255,1.00);
	}
	
	
	/*  Discography  */
	
	.album{
		width: 50%;
	}
	
	
	/*  News  */
	
	.grid-news{
		display: grid;
		grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
		grid-template-rows: 1fr 2fr 1fr;
		height: 100%;
		margin-bottom: 5vh;
		margin-top: 5vh;
	}
	
	.img-news-1{
		grid-column-start: 2;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 4;
		z-index: 1;
	}
	
	.img-news-2{
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		opacity: 0.5;
		display: block;
	}
	
	.img-news-3{
		grid-column-start: 4;
		grid-column-end: 6;
		grid-row-start: 2;
		grid-row-end: 3;
		opacity: 0.5;
		display: block;
	}
	
	
	/*  Events  */
	
	.title-events{
		text-align: center;
		font-size: 40px;
	}
	
	.desc-events{
		width: 50%;
		margin-bottom: 0;
	}
	
	
	/*  Footer  */
	
	footer{
		background-color: rgba(10,82,32,1.00);
	}

}