@charset "UTF-8";

/* Simone Tugnetti */

main{
    display: grid;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "nav"
        "header"
        "blog"
        "map"
        "txt"
        "photogallery"
        "social"
        "footer";
}

nav{
    grid-area: nav;
    background-color: yellow;
    height: 60px;
}

header{
    grid-area: header;
    background-color: lightblue;
    height: 30vh;
}

.blog {
    grid-area: blog;
    background-color: green;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "imgBlog1 imgBlog2"
        "txtBlog1 txtBlog2";
}

.imgBlog1{
    grid-area: imgBlog1;
    background-color: black;
    margin: 30px;
}

.imgBlog2{
    grid-area: imgBlog2;
    background-color: black;
    margin: 30px;
}

.txtBlog1{
    grid-area: txtBlog1;
    background-color: white;
    margin: -50px 80px 20px 80px;
}

.txtBlog2{
    grid-area: txtBlog2;
    background-color: white;
    margin: -50px 80px 20px 80px;
}

.map{
    grid-area: map;
    background-color: orange;
}

.txt{
    grid-area: txt;
    background-color: purple;
    height: auto;
}

.photogallery{
    grid-area: photogallery;
    background-color: red;
    min-height: 30vh;
}

.image{
    background-color: black;
    width: 30%;
    height: 200px;
    margin: 10px auto;
}

.social{
    grid-area: social;
    background-color: blue;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "facebook1 facebook2"
        "twitter twitter";
}

.facebook1{
    grid-area: facebook1;
    height: 200px;
}

.facebook2{
    grid-area: facebook2;
    height: 200px;
}

.twitter{
    grid-area: twitter;
    height: 200px;
}

footer{
    grid-area: footer;
    background-color: brown;
    height: 80px;
}


@media screen and (min-width: 960px) {

    main{
        display: grid;
        height: auto;
        grid-template-columns: 250px auto 250px;
        grid-template-rows: auto;
        grid-template-areas: 
            "nav header social"
            "nav blog social"
            "nav blog social"
            "nav map social"
            "nav txt social"
            "nav photogallery social"
            "footer footer footer";
    }
    
    nav{
        grid-area: nav;
        background-color: yellow;
        height: auto;
    }
    
    header{
        grid-area: header;
        background-color: lightblue;
        height: 20vh;
    }
    
    .blog {
        grid-area: blog;
        background-color: green;
        height: 30vh;
    }
    
    .map{
        grid-area: map;
        background-color: orange;
    }
    
    .txt{
        grid-area: txt;
        background-color: purple;
        height: auto;
    }
    
    .photogallery{
        grid-area: photogallery;
        background-color: red;
        min-height: 20vh;
    }
    
    .social{
        grid-area: social;
        background-color: blue;
        height: auto;
    }
    
    footer{
        grid-area: footer;
        background-color: brown;
        height: 80px;
    }



}