@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{box-sizing: border-box;}

.full-heigth{
	width: 100%;
	height: calc(50vh - 50px);
	background-image: url(../img/cuba.jpg);
	background-position: center;
	background-size: cover;
}
.beatles{
	background-color: rgba(0,0,0,1.00);
	width: 100%;
	height: calc(50vh - 50px);
	opacity: .15;
}
.beatles h1{
	color: rgba(255,255,255,1.00);
	text-align: center;
	line-height: calc(50vh - 50px);
	font-size: 8vh;
	font-style: italic;
}
.menu{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,1.00);
}
hgroup{text-align: center;}
h1{color:rgba(255,0,4,1.00);}
h2, h3{text-decoration: overline;}
/* img{display: block;} --> Per tutte le immagini */
.img-fluid{width: 100%; height: 100%; display: block;}
.pepe{width: 200px; height: 150px;}

.maiuscolo{text-transform: uppercase;}
.giallo{color: #FFF500}

.rettangolo {
	width: 960px;
	height: auto;
	background-color: #626AF9;
	margin: 0 auto 20px;
	padding: 15px;
}
.rettangolo p{
	color: #FFFFFF;
}
.micro {
	width: 25%;
	height: auto;
	background-color: #FF0004;
	float: left;
	padding: 20px;
}
.clearfix{
	clear: both;
}

.cantante{
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,0,0,1.00);
}
