@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{box-sizing: border-box;}

header, body, footer, label{
	font-family: 'Merriweather', serif;
}

body{
	background-image: url(../img/thewhoArt.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.newBody{
	background-image: url( ../img/thewhoTwo.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.newOpacita{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.70);
}

h1,h2,h3,a{
	color: rgba(255,255,255,1.00);	
}

a{
	text-decoration: none;
}

a:hover{
	cursor: url(../img/sym57.cur),auto;
}

.menu{
	width: 100%;
	height: 50px;
	background-color: rgba(1,1,94,1.00);
}

.sub{
	width: 960px;
	height: 50px;
	margin: 0 auto;
}

.sub li{
	width: 25%;
	height: 50px;
	line-height: 50px;
	float: left;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

.sub li a{
	height: 50px;
	width: 100%;
	display: block;
}

.sub li a:hover, .menu .active{
	background-color: #0C97E8;
}

.intro{
	width: 100%;
	height: 70vh;
}

.coloreIntro{
	background-color: rgba(33,33,33,0.90);
}

.who{
	width: 100%;
	height: 65vh;
	background-image: url("../img/thewho.png");
	background-size: 50% 100%;
	background-repeat: no-repeat;
	background-position: 50% 5vh;
}

.container-fluid{
	width: 100%;
	height: auto;
	margin: 0 auto;		
}

.container{
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.opacita{
	width: 100%;
	height: 70vh;
	background-color: rgba(0,0,0,0.40);
}

.titolo{
	width: 50%;
	height: auto;
	float:left;
}

h1{
	font-size: 50px;
	font-weight: bolder;
	line-height: 70vh;
	margin-left: 6%;
}

.pro{
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	line-height: 25vh;
}

.immlogo{
	width:50%;
	height:auto;
	float:right;
}

.logo{
	width: 25vh;
	height:25vh;
	margin: 18.5% 10%;
	float:right;
}

h2{
	text-align: center;
	margin: 100px auto;
	font-size: 30px;
	font-weight: bold;
}

.videoS{
	float:left;
	width: 45%;
	height: 30vh;
	margin: 0 auto;
}

.videoR{
	float:right;
	width: 45%;
	height: 30vh;
	margin: 0 auto;
}

.roger{
	width: 45%;
	height: 200px;
	background-image: url("../img/rogerDaltrey.png");
	position: relative;
	float:left;
	margin: 0 10% 5% 0;
}

.rosso{
	width: 100%;
	height: 50px;
	background-color: rgba(218,33,40,0.50);
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.john{
	width: 45%;
	height: 200px;
	background-image: url("../img/entwistle.png");
	float: left;
	position: relative;
}

h3{
	font-size: 20px;
	text-align: center;
	line-height: 50px;
}

.keith{
	width: 45%;
	height: 200px;
	background-image: url("../img/keith.png");
	position: relative;
	float:left;
	margin-right: 10%;
}

.pete{
	width: 45%;
	height: 200px;
	background-image: url("../img/pete.png");
	float: left;
	position: relative;
}

.newsletter{
	width: 30%;
	height: auto;
	float:left;
	margin: 0 33.333% 0 3.333%;
}

.form-group{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.bordi{
	border: 2px solid rgba(124,124,124,1.00);
	border-radius: 5px;
	padding: 10px;
	width: auto;
	height: auto;
}

form{
	width:100%;
	height:100%;
	margin-top: 30%;
	background-color: rgba(255,255,255,1.00);
}

.block{
	display: block;
	margin: 5px auto;
}

.grand{
	width: 66.666%;
	height: 30px;
	border-radius: 5px;
	padding: 10px;
	float:right;
}

.grandlabel{
	width: 33.3333%;
	height: 30px;
	border-radius: 5px;
	text-align:center;
	float:left;
}

.invio{
	width: 66.666%;
	height: 30px;
	margin: 10px 0 0 auto;
	border-radius: 5px;
}

.check{
	margin: 8px auto;
}

.mappa{
	width: 30%;
	height: auto;
	float:left;
	margin-right: 3.333%;
}

iframe{
	width: 100%;
	height: 300px;
	border: 2px solid rgba(0,0,0,1.00);
}

footer{
	width:100%;
	height: 15vh;
	background-color: rgba(24,20,20,1.00);
	margin-top: 75px;
}

.finale{
	color: rgba(255,255,255,1.00);
	float:left;
	width: 33.333%;
}

.center{
	text-align: center;
	line-height: 15vh;
	font-size: 15px;
}

.social{
	width: 40px;
	height: 40px;
	margin: 50px 0 0 40%;
}

.social2{
	width: 40px;
	height: 40px;
	margin: 50px 0 0 30px;
}

.clearfix{
	clear: both;
}




