@charset "UTF-8";
/* CSS Document */

/* Simone Tugnetti */

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 2fr repeat(4, 1fr);
	height: 100vh;
	grid-template-areas: 
		"header header"
		"article aside"
		"article aside"
		"article aside"
		"footer footer";
}

.gap{
	gap: 20px;
}

.head{
	grid-area: header;
	background-color: rgba(255,0,0,1.00);
}

.article{
	grid-area: article;
	background-color: rgba(0,255,0,1.00);
}

.aside{
	grid-area: aside;
	background-color: rgba(0,0,255,1.00);
}

.foot{
	grid-area: footer;
	background-color: rgba(255,255,0,1.00);
}

