@charset "UTF-8";
/* CSS Document */

/* Simone Tugnetti */

.grid {
	display: grid;
	height: 100vh;
	grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
	grid-template-rows: 2fr 1fr 1fr 1fr 2fr;
}

.faro {
	background-image: url(../img/faro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.item1 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.item2 {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 6;
}

.item3 {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
}

.item4 {
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 6;
}

.item5 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 5;
}