@charset "UTF-8";
/* CSS Document */

/* Simone Tugnetti */

.grid {
	display: grid;
	height: 50vh;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	/*grid-gap: 20px;*/
}

.item1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url(../img/faro.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.item2 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: rgba(0,0,0,0.50);
	margin-top: -80px;
	width: 50%;
	justify-self: center;
	padding: 10px;
}

.white{
	color: rgba(255,255,255,1.00);
	font-weight: bold;
	text-align: center;
}

@media (min-width: 960px){
	
	.grid {
		display: grid;
		height: 50vh;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		/*grid-gap: 20px;*/
	}

	.item1 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.item2 {
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
		margin-top: 0px;
		width: 100%
	}
	
}
