@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{
	box-sizing: border-box;
}

body{
	background-color: #000;
}

/*
	Container: 
	100% width fino a 768px
	740px da 768
	960px da >=1024
	centrato
	padding: 15px
	distare dal body lateralmente almeno 15px
	height: 300px
*/

.sez-child{
	width: 100%;
	height: auto;
	margin: 30px;
}

h2{
	font-size: 20px;
	color: rgba(255,0,0,1.00);
	margin-bottom: 20px;
}

p{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

.border{
	border-top: 1px solid rgba(0,0,0,0.40);
}

.gatto{
	justify-content: flex-start;
	margin-bottom: 5px;
	width: 80px;
	height: 80px;
}

.container{
	width:100%;
	min-height: 300px;
	padding: 15px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

.border-all{
	border: 1px solid rgba(0,0,0,1.00);
}

.row{
	flex-direction: row;
	flex-wrap: wrap;
}

.form-row {
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-group{
	flex-wrap: wrap;
	width: 100%;
	height: auto;
}

.form-label {
	width: 100%;
}

.form-input {
	width: 100%;
}

.sez-row{
	width:100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.billy{
	background-image: url(../img/billy.png);
	background-size: cover;
}

.dusty{
	background-image: url(../img/dusty.png);
	background-size: cover;
}

.frank{
	background-image: url(../img/frank.png);
	background-size: cover;
}

img{
	width: 100%;
	height:100%;
}

.col{
	width:100%;
	height: 300px;
	border: 1px solid #FF0000;
	flex-direction: column;
}

.jc-end{
	justify-content: flex-end;
}

@media screen and (min-width:480px){
	body{
		background-color: #FF0000;
	}
}

@media screen and (min-width:768px){
	body{
		background-color: #0000FF;
	}
	.container{
		width:740px;
	}
	.order{
		order: 1;
	}
	.col{
		width:calc(100%/2);
	}
	.row{
		flex-wrap: wrap;
	}
	.form-group{
		width: 50%;
	}
	
	.sez-row{
		width: 50%;
	}
	
	.border{
		border-right: 1px solid rgba(0,0,0,0.40);
	}
}

@media screen and (min-width:1024px){
	body{
		background-color: #00FF00;
	}
	.container{
		width:960px;
	}
	.col{
		width: calc(100%/6);
	}
	.order{
		order: 0;
	}
	.form-label{
		width: 20%;
	}
	.form-input{
		width: 80%;
	}
}

@media screen and (min-width:1200px){
	body{
		background-color: #FFFF00;
	}
}

.d-flex{
	display: flex;
}