@charset "utf-8";
/* CSS Document */

/* Simone Tugnetti */

*, *:before, *:after{box-sizing: border-box;}

.brand{
	width: 10%;
	height: 80px;
	float: left;
	color: rgba(255,0,4,1.00);
	line-height: 80px;
	text-align: center;
	font-size: 25px;
}

.menu{
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,1.00);
	z-index:1;
}

.menu ul{
	margin: 0 auto;
}

.menu ul li{
	width: 5%;
	height: 80px;
	line-height: 80px;
	float: right;
	text-align: center;
}

.menu ul li a{
	height: 80px;
	width: 100%;
	text-decoration: none;
	color: rgba(255,255,255,1.00);
	display: block;
}

.menu ul li a:hover, .menu .active{
	background-color: rgba(6,0,161,1.00);
}

video{
	width: 100%;
	height: 100vh;
}

.container{
	width: 960px;
	height: auto;
	margin: 50px auto;
}

.larg50{
	width: 50%;
	padding-left:16px;
	float:left;
}

.nopad{
	padding-left: 0px;
}

.alt300{
	height:300px;
}

.alt145{
	height: 145px;
}

.margin{
	margin:10px auto;
}

.larg66{
	width: 66.666666%;
	height: 150px;
	float:left;
}

.larg33{
	width: 33.3333333%;
	height: 150px;
	padding-left:16px;
	float:left;
}

.container-fluid{
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.larg33left{
	width:33.333333%;
	height:250px;
	float:left;
}

.form-group{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.bordi{
	border: 2px solid rgba(124,124,124,1.00);
	border-radius: 5px;
	padding: 10px;
	width: 960px;
	height: auto;
}

form{
	width:100%;
	height:100%;
	padding:10px;
	margin: 10px auto;
}

.block{
	display: block;
	margin: 5px auto;
}

.grand{
	width: 66.666%;
	height: 30px;
	border-radius: 5px;
	padding: 10px;
	float:right;
}

.grandlabel{
	width: 33.3333%;
	height: 30px;
	border-radius: 5px;
	text-align:center;
	float:left;
}

.invio{
	width: 66.666%;
	height: 30px;
	margin: 10px 0 0 auto;
	border-radius: 5px;
}

.check{
	margin: 8px auto 8px auto;
}

::placeholder{
	font-family: 'Roboto', sans-serif;
	color: rgba(255,0,4,1.00);
}

label{
	font-size: 20px;
}


.tabella{
	height: 15vh;
}

.tabella tr, .tabella th, .tabella td{
	border: 1px solid rgba(255,0,4,1.00);
	width: 33.33333%
}

.coloreRighe{
	background-color:rgba(197,197,197,1.00);
}

.tabella tr{
	text-align: center;
	line-height: 15vh;
}

.tabella th{
	font-size: 35px;
	cursor: pointer;
}

.tabella th:hover{
	background-color: rgba(188,0,3,1.00);
}

.tabella td:hover{
	background-color:rgba(55,191,0,1.00);
}

.tabella td{
	font-size:20px;
}

.tabella caption{
	font-size: 20px;
	margin: 0 0 20px 0;
}


footer{
	width:100%;
	height:20vh;
	background-color: rgba(0,0,0,1.00);
	margin-top: 50px;
}

h3{
	color:rgba(255,255,255,1.00);
	text-align: center;
	line-height: 20vh;
	font-size: 20px;
}

.clearfix{
	clear: both;
}


